 body{
 font-family: 'Nunito', sans-serif;
 font-family: 'Open Sans', sans-serif;
 }
 .row {
margin: 5px;
}

.page-header{
  background-color: #9da1a5; 
  padding: 20px; 
  width: 100%;
  margin-bottom: 20px;
}
.header-icons{
  background-color: #FDB819;
  color: #000;
  text-decoration: none;
  padding: 7px;
  font-weight: 800;
  margin-top: 20px;
  margin-right: 50px;
  display: inline-block;
}
.header-icons:hover{
  text-decoration: none;
}
.section-heading{
    font-weight: 800;
    background-color: #DDDDDD;
    padding: 10px;
    font-size: 20px;
    border-left: 10px #FDB819 solid;
}
.sidebar{
  /*width:200px;*/
  float:left;
  background-color:#E3A617;
  padding: 0px;
  /*min-height:100vh;*/
  
}
.cont{
  display: block;
  /*width:calc(100% - 200px);*/
  float:left; 
  padding: 0px;
}
ul.navbar-nav {
    margin-left: 100px;
}
.headbox{
  background-color: #000;
}
.headbox .col-sm-2, .headbox .col-sm-5, .headbox .col-sm-3{
  padding: 20px;
}

/*COLLAPSIBLE MENU*/

.sidebar-menu li a {
    text-transform: capitalize;
    color: #3D2D06;
    font-weight: 400 !important;
    padding: 5px;
    display: block;
    width: 100%;
    padding-left: 20px;
    font-size: 16px !important;
    transition: ease-out 1s;
}
.sidebar-menu li{
  list-style: none;
}
.sidebar-menu li a:hover{
  text-decoration: none;
  color: #FFF;
  /*background-color: #949494;*/
    transition: ease-in .5s;
}
.sidebar-menu li a.active{
    text-decoration: none;
    color: #fff;
    background-color: #949494;
}
.sidebar-menu{
  margin: 0px;
  margin-top: 50px;
    margin-bottom: 100px;
  padding: 0px;
}

.product-thumb{
 text-decoration: none;
}
.product-thumb:hover{
 text-decoration: none;
}
.product-thumb h4{
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
.new-price{
  font-size: 18px;
  font-weight: 800;
  display: inline-block;
  color: #000;
}
.old-price{
  font-size: 14px;
  text-decoration: line-through;
  display: inline-block;
  color: #F00;
}
.thumb-category{
  font-size: 9px;
  color: #000;
  line-height: 11px;
  display: block;
}
.sale-offer{
  display: block;
  position: absolute;
  top:10px;
  right: 10px;
  font-size: 10px;
  font-weight: 600;
  color: #000;
  background-color: #FDB819;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
.nolist{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sidebar .sidebar-menu li.nolistHighlight {
    background-color: #17629e;
    color: #1FB9B9;
    text-decoration: none
}
.sidebar .sidebar-menu li.nolistHighlight a {
    color: #1FB9B9;
}

.sidebar .sidebar-menu li ul {
    display: none;
    background-color: #dddddd99;
    /*-webkit-box-shadow: inset 0px 1px 2px 0px rgba(221,221,221,1);
-moz-box-shadow: inset 0px 1px 2px 0px rgba(221,221,221,1);
box-shadow: inset 0px 1px 2px 0px rgba(221,221,221,1);*/
}
.sidebar .sidebar-menu li ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #00000090;
    padding-left: 10px;
}
.sidebar .sidebar-menu li ul li a.active {
    background-color: initial;
    color: #000;
    padding-bottom: initial
}
.sidebar .sidebar-menu li ul li a:hover {
    color:#000;
    /*background-color: #DDDDDD50;*/
}
.sidebar .sidebar-menu a {
  text-decoration: none !important;
  font-weight: 600 !important;
}
/*SCROLL BAR*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #FFF;

}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #eae9e8;
  /*border-radius: 0.2em;*/
  outline: 1px solid #dddddd;

}


.navy .fa-chevron-right{
    float: right;
    margin-right: 20px;
    transition: ease-in-out .5s;
}
.navy.active .fa-chevron-right{
transform: rotate(90deg);
transition: ease-in-out .5s;
}


/*-----------------------------------------------*/

.navbar-nav .nav-link{
  color: #000 !important;
}

.col-sm-4.half, .col-sm-3.half, .col-sm-2.half{
  padding-left: 0px;
  padding-right: 5px;
}
label{
  font-weight: 600;
}

.row{
  padding: 0px;
  margin: 0px;}
/*form .row{
  padding: 0px;
  margin: 0px;
  --bs-gutter-x: 1rem;
}
form .row .col-sm-6{
  padding: 0px;
} */


.navio{
  color: #242425;
  padding:10px;
  padding-left: 30px;
  display: block;
  width: calc(100% - 20px);
  margin-left: 20px;
  border-radius: 0px;
  transition: ease-in-out .5s;
  text-decoration: none;
}
.navio:hover{
 
 text-decoration: none;
 color: #000;
 background-color: #FFF;
}
.navio.active{
 
 text-decoration: none;
 color: #000;
 background-color: #FFF;
}
.bg-dark {
    background-color: #000!important;

  }
  .bg-light {
    background-color: #fdb819!important;
}

.only-mobile{
  display: none;
}
.footer{
  border-top:1px solid #DDDDDD;
  padding: 20px;
  margin-top: 50px;
}
.cta{
  background-color: #DDD;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}
.cta-icon{
  display: block;
  float: left;
  width: 70px;
  padding: 10px;
}
.cta-icon img{
  width: 100%;
}
.cta-content{
  display: block;
  float: left;
  width: calc(100% - 70px);
  padding: 10px;
}
.cta-content h5{
  font-size: 16px;
  font-weight: 600;
}
.cta-content p{
  font-size: 12px;
}

.nav-tabs .nav-item .nav-link.active {
    font-weight: 600;
    border-radius: 0px;
    background-color: #FDB819;
}
.nav-tabs .nav-item .nav-link{
    font-weight: 500;
    border-radius: 0px;
    background-color: #DDD;
}

nav.navbar.navbar-expand-md.navbar-light.bg-light {
    width:100%;
    margin: 0px;
/*    display: block;*/
    top: 0px;
    background-color: #FDB819 !important;
    color: #000 !important;
    font-weight: 600;
}
.marg-top{
 /* margin-top: 50px;*/
}
.footer-top{
  background-color: #000;
  color: #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 14px;
}
.social-icons{
  display: block;
}
.social-icons a{
  display: block;
  padding: 5px;
  padding-left: 8px;
  margin: 5px;
  width: 30px;
  height: 30px;
  background-color: #fdb819;
  border-radius: 15px;
  float: left;
/*  color: #fdb819 !important;*/
}
.footer-top ul{
  padding: 0px;
}
.footer-top h4{
  color: #FDB819;
  font-size: 16px;
  font-weight: 800;
}

.footer-top a{
  color: #FFF;
  text-decoration: none;
  font-weight: 300;
}
.footer-top a:hover{
  color: #fdb819;
}
.footer-bottom{
  padding: 10px;
  font-size: 12px;
}
/*Carousel CSS Code*/
.carousel-inner img {
    width: 100%;
    height: 100%
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 5px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 1
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 1
}

.carousel-item img {
    width: 100%
}

/*.carousel-indicators:before{
  content: '';
  display: block;
  width: 10px;
  height: 70px;
  background-color: #d10000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}*/
.carousel-indicators {
    justify-content: left;
  overflow: auto;
  padding-left: 10px;}
.carousel-indicators {
    margin-right: 0px;
    margin-left: 0px;
    height: 70px;
    background-color: #DDDDDD70;
}
#custCarousel .carousel-indicators>li {
    width: 15%;
    min-width: 10%;
    padding-top: 10px;
}
#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 1;
    height: 50px;
    width: 100%;
}

.carousel-indicators li{
  opacity: 1;
}
.carousel-indicators .active{
  opacity: .9;
}
a#carousel-selector-0 {
    display: contents;
}
a.carousel-control-next ,a.carousel-control-prev{
    background-color: #FDB819;
    display: block;
    margin: 5px;
    margin-top: calc(50% - 20px);
    height: 40px;
    width: 40px;
    padding-top: 5px;
    border-radius: 30px;
}

.dropend{
  padding: 0px;
}

.dropend .fa{
  display: inline-block;
  position: absolute;
  right: 2px;
  top: calc(50% - 8px);
  font-weight: 300;
}

.dropend .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: FontAwesome;
    float: right;
    vertical-align: top;
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 2px;
    top: calc(50% - 8px);
}
.dropend .dropdown-toggle:hover::after {
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;
}

.dropend{
  display: block;
  width: 100%;
  /*border-bottom: 1px solid #000;*/
  padding: 5px;
  list-style: none;
  transition: all 0.5s ease-in-out;
}
.dropend:hover{
  background-color: #DDD;
  transition: all 0.5s ease-in-out;
}

.dropdown-toggle{
  text-decoration: none;
  color: #000;
  display: block;
  width: 100%;
  /*font-weight: 600;*/
}
.review-user{
  font-weight: 800;
  display: block;
  font-size: 14px;
}
.review p{
  font-size: 12px;
  margin: 0px;
}
.review-date{
  font-size: 10px;
  display: block;
  margin-bottom: 5px;
  color: #FDB819;
}
.reviews{
  background-color: #DDD;
  border-radius: 10px;
  padding: 10px;
}
.dropdown-toggle:hover{
  text-decoration: none;
}

span.carousel-control-next-icon, span.carousel-control-prev-icon  {
    width: 20px;
}

/*END CAROUSEL*/

.breadcrumb{
  padding: 5px;
  font-size: 12px;
}
.rating-x{color: #FDB819;}

.dropdown:hover .dropdown-menu,.dropend:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
.thumb-banner{
  margin-bottom: 15px;
}
.caption{
  display: block;
  max-width: 75%;
  position: absolute;
  left: 50px;
  bottom: 20%;

}
.caption h1{
  font-weight: 800;
  font-size: 30px;
}
.caption h3{
  font-weight: 600;
  font-size: 18px;
}
.caption p{
  font-size: 12px;
}

button.btn.btn-sm.btn-warning.btn-block.addToCart {
    background-color: #FFFFFF !important;
    border-color: #000000;
}

.filters{
  background-color: #DDD;
  padding: 10px;
  border-radius: 5px;
}
.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
.btn-block{
  width: 100%;
}

@media only screen and (max-width: 990px){

  .sidebar{
    display: none;
  }
  .cont{
  width:100%;
  margin-left:0px;
  float:left; 
}
.only-mobile{
  display:block;
}
.nav-item{
  border-bottom: 1px solid #DDDDDD;
}
.navbar-nav{
  margin-top:15px;
}
.half{
  width: 50%;
}
.no-mobile{
  display: none;
}
nav.navbar.navbar-expand-md.navbar-light.bg-light {
    background-color: #000 !important;
    color: #FFF !important;
}
.navbar-light .navbar-nav .nav-link {
    background-color: #fff !important;
     color: #FFF !important
}
